{% extends "georgetown_domains/header.html" %}


{% block content %}


<table>
		<tr>
			
			<td>
			{% load static %}
			<img src="{% static "georgetown_domains/rip_chester.jpg" %}" height="300" width="500">
			</td>
			
			<td>
				 <p><strong>SUMMARY OF THE PORTFOLIO</strong>
				 <br>Bokeh/Python3: 2 Interactive (1 temporal, 1 map)
				 <br>Tableau: 2 Interactive
				 <br>ggplot2/R: 2 Non-Interactive
				 <br>Network: 2 Interactive
				 <br>Plotly: 2 Interactive (1 spacial and temporal map)
				 <br>Leaflet/R: 1 Interactive
				 <br>WorldCloud: 1 Non-Interactive
				 <br>
				 <br>Interactive: 9
				 <br>Non-Interactive: 3
				 <br>Total: 12 visualizations</p>
				 <p><font color=#002b80><strong>MICHAEL CHON</strong>
				 <br>Queens College-CUNY, BA
				 <br>Georgetown University, MS
				 <br>Software Engineer/Data Scientist
				 <br>@ Booz Allen Hamilton 
			</td>
		
		</tr>
</table>


{% endblock %}